@import url('https://fonts.googleapis.com/css?family=Montserrat');

* {
	margin: 0;
	padding: 0;
	font-family: 'Montserrat', sans-serif;
}

body {
	height: 100%;
	color: #363D42;
}

button {
	background: none;
	border: none;
	outline: none;
}

button:hover i {
	color: #0C0E0F;
}

i {
	color: #363D42;
}

h1 {
	font-size: 50px;
	color: black;
}

h2 {
	font-size: 30px;
}

.container {
	padding-top: 3em;
	height: 80vh;
	width: 70%;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
}


.buttons {
	display: flex;
	width: 50%;
	justify-content: space-around;
}

.session, .break {
	width: 40%;
	text-align: center;
}


.session {
	margin-right: 8em;
}

.session-buttons, .break-buttons {
	display: flex;
	justify-content: space-between;
	font-size: 30px;
	margin-top: 1em;
}

.break-color {
	color: #A37871;
}

.session-color {
	color: #1A5E63;
}

.controls {
	display: flex;
	width: 70%;
	justify-content: space-evenly;
}
